<!DOCTYPE html>
<!-- Hej och välkommen! -->
<html lang="sv">
<head>
	<meta name="format-detection" content="telephone=no">
	<title>Hannes Rahm - Curriculum Vitae</title>
	<link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="style.css" rel="stylesheet"></link>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="cvApp" ng-controller="cvController">
	<div class="section header">
		<div class="contact">
			<a class="email" href="mailto:me@hannesrahm.com">me@hannesrahm.com</a>
			<a class="phone" href="tel:0703-31 52 13">0703-31 52 13</a>
		</div>
		<div class="face"></div>
		<div class="hello-world"></div>
		<a class="pdf" href="hannesrahm-cv.pdf"><img src="img/pdf.svg" /></a></div>
	</div>
	<div class="section about">
		<h2>Om mig, <span class="orange">Hannes Rahm</span></h2>
		<p>
			Jag är en skäggig, glasögonbeprydd, <i>lätt</i> överviktig, herre i sina bästa år (<span class="age">{{age}}</span>). Jag brinner för vackra saker, ny teknik, goda användarupplevelser, hård, mitt-i-mellan och mjuk musik, vetenskap och spelutveckling. Just nu jobbar jag som webbutvecklare inom telekom-branschen. Jag driver också ett spelutvecklingsföretag på fredagar och all övrig ledig tid.
		</p>

		<p class="mission">
			Jag vill använda spännande teknik för att bygga upplevelser som berör och för samman människor på sätt som inte tidigare vart möjliga. <em>#floskligtmensant</em>
		</p>
	</div>
	<div class="section knowledge">
		<div class="areas">
			<div class="area">
				<h3>Programmering</h3>
				<ul>
					<li>JavaScript 5/6 <stars value="3" /></li>
					<li>Node JS <stars value="3" /></li>
					<li>C# <stars value="3" /></li>
					<li>Git <stars value="2" /></li>
					<li>Angular JS <stars value="3" /></li>
					<li>Python <stars value="2" /></li>
					<li>D3 JS <stars value="3" /></li>
					<li>Gulp <stars value="2" /></li>
					<li>Unit Testing <stars value="2" /></li>
					<li>Mocha <stars value="2" /></li>
				</ul>
			</div>
			<div class="area">
				<h3>Programvara</h3>
				<ul>
					<li>Adobe Photoshop <stars value="3" /></li>
					<li>Adobe Illustrator <stars value="3" /></li>
					<li>Adobe Indesign <stars value="3" /></li>
					<li>Adobe After Effects <stars value="2" /></li>
					<li>Sublime Text <stars value="3" /></li>
					<li>Chrome Dev Tools <stars value="3" /></li>
					<li>Unity 3D <stars value="3" /></li>
					<li>Atlassian JIRA <stars value="1" /></li>
					<li>Magica Voxel <stars value="2" /></li>
					<li>Steinberg Cubase <stars value="2" /></li>
				</ul>
			</div>
			<div class="area">
				<h3>Utbildning</h3>
				<ul>
					<li>Medialinjen - Per Brahe Gymnasiet <stars value="2" /></li>
					<li>Stephen Few - Information Dashboard Design seminarium <stars value="2" /></li>
				</ul>
			</div>
			<div class="area">
				<h3>Språk</h3>
				<ul>
					<li>Svenska <stars value="3" /></li>
					<li>Engelska <stars value="2" /></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section experience">
		<h2>Erfarenhet</h2>
		<div class="timeline">
			<div 
				ng-repeat="event in experience"
				class="event"
				ng-class="{ single: event.end - event.start == 0 }"
				style="flex: {{event.end - event.start || 1}}"
			>
				<div class="tooltip" ng-show="event.hover">
					<strong>{{event.long}}</strong><br />
					<em>{{event.start}} - {{event.end}}</em><br /><br />
					<ul>
						<li ng-repeat="item in event.tooltip">{{item}}</li>
					</ul>
				</div>
				<div class="line"></div>
				<div class="point">
					<div class="start">{{event.start}}</div>
					<div class="dot" ng-mouseover="event.hover=true" ng-mouseout="event.hover=false"></div>
					<div class="title">{{event.title}}</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>